.products_section{
    /* padding: 10px 20px; */
    width: 98%;
    margin:10px;
    background-color: #fff;
    border-radius: 2px;
    height: 21rem;
    padding-bottom: 20px;
}



.products_section .products_deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 15px; */
    padding: 15px;
}

.products_section .products_deal h3{
    color: #444;
    font-weight: 500;
    font-size: 19px;
    font-weight: bold;
}

.products_section .products_deal .view_btn{
    padding: 9px 15px;
    border: none;
    outline: none;
    background-color: #f1cc13;
    color: black;
    width: 100px;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


.products_section a{
    text-decoration: none;
    color: #111;
}



.products_section .products_items{
    margin-top: 10px;
    /* padding: 8px; */
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.products_section .products_items img{
    width: 110px;
    height: 140px;
    padding-top: 4px;
}

.products_section .products_items .texts{

    /* padding: 8px; */
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}




.products_section .products_items p{
    font-size: 12px;
}


.products_section .products_items .products_name{
    display: flex;
    align-items: center;
    justify-content: center;
}



.products_section .products_items p{
    padding-top: 5px;
}



@media (max-width:768px){

    .products_section{
        height: 18rem;
    }

    .products_section .product_img{
        object-fit: cover;
        height: 60px;
    }

    .products_section .products_items img{
        width: 80px;
        height: 80px;
    }

    .products_section .products_items .products_name{
        padding-top: 40px;
    }

}