.rightheader{
    width: 250px;
    height: auto;
}

.rightheader .right_nav{
    display: flex;
    align-items: center;
    background-color: #232F3E;
    padding-bottom: 10px;
}

.rightheader .right_nav h3{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.AvatarDiv{
    position: relative;
}
.AvatarDiv .cartLength {
    position: absolute;
    background-color: rgb(216, 167, 8);
    height: 17px;
    width: 17px;
    border-radius: 50%;
    left: 2.5rem;
    top: 1.2rem;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.rightheader .avtar{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.rightheader .avtar2{
    cursor: pointer;
    color: black;
    background-color: rgb(238, 227, 227);
    margin-top: 20px;
    margin-left: 10px;
}
.nav_btn{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
}

.nav_btn a{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #131921;
}

.nav_btn .flag{
    display: flex;
    align-items: center;
}